.app_purple_theme {
  --bg-color: #f8f4fb;
  --inverted-bg-color: #a013ff;
  --primary-color: #555db4;
  --secondary-color: #0008f5;
  --inverted-primary-color: #0008f5;
  --inverted-secondary-color: #555db4;

  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;

  --skeleton-color: #ffffff;
  --skeleton-shadow: #413c3c;

  --code-bg: #ffffff;

  // card
  --card-bg: #d5d5d7;

  // listbox
  --listbox-bg: #d5d5d7;
}
